.rootContainer {
  font-family: 'Gothic A1', sans-serif;
  margin-left: 70px;
  margin-right: 70px;
}

.assetDisplayContainer {
  /* display: flex; */
  /* flex-direction: row; */
  /* background-color: thistle; */
  padding: 50px;
  margin-top: 60px;
}

.assetDisplayText {
  font-size: 30px;
}