.rootContainer {
  font-family: 'Gothic A1', sans-serif;
  margin-left: 70px;
  margin-right: 70px;
}

.assetDisplayContainer {
  padding: 50px;
}

.assetDisplayText {
  font-size: 30px;
}

.itemListViewButtonsContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.itemListViewButtons {
  margin-right: 40px;
  font-size: 15px;
}

.itemListViewButtons:hover {
  cursor: pointer;
  filter: contrast(0.5);
}

.boldAssetText {
  color: black;
}

.lightAssetText {
  color: lightgrey;
}

.normalItemListViewText {
  font-weight: normal;
}

.boldItemListViewText {
  font-weight: bold;
}

