.rootContainer {
  min-width: 800px;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
}

.searchAreaContainer {
  width: 100%;
  padding: 30px;
}

.searchComponentContainer {  
  text-align: center;
}
