.rootContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  /* background-color: tomato; */
  justify-content: space-between  ;
  padding: 30px;
  font-size: 15px;
}

#addIcon {
  width: 35px;
}

#addIcon:hover {
  filter: contrast(0.1);
}

#rightButtonArea {
  /* background-color: thistle; */
}

.loginButtonsContainer {
  margin-right: 50px;
  display: inline-block;
}

.loginButtons:hover {
  filter: contrast(0.1);
}
