.rootContainer {
  margin: 0 auto;
  width: 700px;
}

.searchLabel {
  font-size: 30px;
  font-weight: bold;
}

.searchInput {
  font-size: 30px;
  background-color: transparent;
  border-width: 0px 0px 2px 0;
  border-color: black;
}

.searchInput:focus {
  outline: none;
}
